*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.urna{
    background-color: bisque;
    padding: 30px;
    display: flex;
}

.tela{
    width: 500px;
    height: 320px;
    background-color: lightgray;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.teclado{
    background-color: #403a3a;
    margin-left: 30px;
}

.teclado-linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado-botao{
    width: 70px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.botao-branco{
    background-color: white;
    color: black;
    font-size: 15px;
}
.botao-corrige{
    background-color: orange;
    color: black;
    font-size: 15px;
}
.botao-confirma{
    background-color: green;
    color: black;
    font-size: 15px;
    width: 90px;
    height: 50px;
}
/*
.voto{
    width: 30px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
*/

.cxNumero1{
    display: block;
    width: 22px;
    height: 27px;
    border: 1px solid #666;
    font-size: 25px;
    font-weight: 400;
    padding: 2px;
    text-align: center;
}

.cxNumero2{
    display: block;
    width: 22px;
    height: 27px;
    border: 1px solid #666;
    font-size: 25px;
    font-weight: 400;
    padding: 2px;
    text-align: center;
}