*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #b5b5b5;
    width: 100%;
    height: 145px;
}

body{

  display: flex;
  flex-direction: column;
  min-height: 100%;
 
    
}
footer{
    background-color: #b5b5b5;
    width: 100%;
    height: 100px;

}

#tab{
    width:100%;
    border:solid 1px;
    text-align: center;
    border-collapse:collapse;
    border-color:#C1CDCD;
}
#tab tr{
    height:30px;
}


.filtroColuna{

    border: 1px solid #E5E5E5;
    width: 200px;
    font-weight:500;
    color: #666363;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

/**login**/ 

#login {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  position: relative;
  background: rgb(209, 206, 206);
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 1.5em;
}
   
.login-form {
  width: rem;
  padding: 2em;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  background: rgba(255, 255, 255, 0.2);
	
}

 
  
  @media screen and (min-width: 600px) {
    width: 50vw;
    max-width: 15em;
  }


  .flex-row {
    display: flex;
    margin-bottom: 1em;
  }
  
  .lf--label {
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray-light;
    cursor: pointer;
  }
  .lf--input {
    flex: 1;
    padding: 1em;
    border: 0;
    color: $gray;
    font-size: 1rem;
    
  }

  .lf--submit {
    display: block;
    padding: 0.56rem;
    width: 8rem;
    margin-left: 11rem;
    margin-top: 3.5rem;
    border: none;
    color: rgb(151, 150, 150);
    cursor: pointer;
    font-size: .75em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    

  }



::placeholder { color: $gray; }

/** Lista**/

